@import '~@fluentui/react/dist/sass/References.scss';

.shellfies {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.crate {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 8px 0;
  gap: 8px;
}